.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Inicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 5rem;
}

.subtitle {
    margin-top: -13rem;
    margin-left: 7rem;
}

  .benefits-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
  }
  
.h2 {
    display: grid;
    place-self: center;
    justify-items: center;
}

img.selected-image {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    place-self: center;
}

.carousel {
    display: grid;
}
  
  .benefit {
    width: 273px;
    height: 119px;
    border-radius: 10px;
    background: #8CD17D;
  }
  
  .titulo-teste {
    font-size: 18px;
    font-family: Lato;
    font-weight: 700;
    line-height: 124.6%;
  }

  .Beneficios {
    margin-bottom: 35px;
}

  .conteudo-teste {
    font-size: 10px;
  }

  .Publico {
    background-color: #323238;
    padding: 20px;
  }

  .Pratos {
    padding: 20px;
  }

  .footer {
    background-color: #323238;
    color: #f2f2f2;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
