.Content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    height: 100vh;
  }
  
  .Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 600px) {
    .Content {
      grid-template-columns: 1fr;
    }
  }
  